@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
/*-------------- variables------------------- */
:root{
/* --gris-color:#dcdcdc; */
--blanco-color:white;
--negro-color:black;
/* --tipo grafia-- */
--normal:12px;
/* --espaciado-- */
--space:10px;
/* box shadow */
--box: 0 0 2px 1px #e6e5e9;
}
/*-------------- variables------------------- */

html,body{
  padding: 0;
  margin: 0;
  font-size: var(--normal);
  font-family: 'Redressed', cursive;
}

nav{
  display: flex;
  background-color: var(--gris-color);
  padding: var(--space);
  padding-right: 35px;
  color: var(--blanco-color);
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
}

nav ul{
  display: flex;
}

nav li{
  padding-left: 20px;
  list-style: none;
}

nav li a{
  color: var(--negro-color);
  text-decoration: none;
}

nav li a:hover{
  color: var(--blanco-color);
}
.PIUCHimage{
  padding-left: 20px;
}
label{
  font-size: 16px;
}
/* ------------------main section------------------------------- */

.main_section{
  padding-bottom:250px;
  padding-top: 40px;
  text-align: center;
  justify-content: center;
  font-size: 25px;

}

.products{
  background-image: url("../imagenes/curve.png");
  height: 0px;
  background-size: cover;
  background-position: center top;
  padding:150px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 15px;

}

.product{
  padding:30px;
  margin-top: -400px;
  align-items: center;
  text-align: center;

}
.product .content{
  background-color: var(--blanco-color);
  padding: var(--space);
  box-shadow: var(--box);
}
.img_content{
  text-align: center;
}

.main_button{
  background-color: var(--negro-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--blanco-color);
  border:0;
  cursor: pointer;
  border-radius: 2px;
}

.main_button:hover{
  background-color: #5e9e22;
}
/* -------------aquí acaba el mainsection---------------- */

.main_recipes{
  text-align: center;
  font-size: 25px;
}

.recetas{
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 350px;
  display: flex;
  justify-content: space-between;
  height: 30px;
  object-fit: cover;
}

.receta{
  padding: var(--space);
}
.receta .content_recipes{
  background-color: var(--blanco-color);
  padding: var(--space);
  box-shadow: var(--box);
  font-size: 15px;
}
.imagen_recetas{
  text-align: center;
}

/* aqui terminan recetas */

.comentarios{
  padding: 50px;
  display: flex;
  padding-left: 60px;
  justify-content: center;


}
.comentario{
  padding: 30px;
  padding-top: 50px;
 justify-content: space-between;
object-fit: cover;
}

.main_comentarios{
  text-align: center;
  font-size: 25px;
}

.image_comentario img{
  width:200px;
    height:200px;
    border-radius:100px;
    border:10px solid white;
}
/* ----------------aqui empieza venta-------------- */
.modulo_pago{
  background-color: var(--blanco-color);
  box-shadow: var(--box);
  padding: var(--space);
  text-align: center;

}
.modulopago_imagenes{
  max-width: 150px;
  text-align: center;
  margin: auto;
}
.col-8{
  margin: auto;
}
.data{
  margin-top: var(--space);
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid var(--negro-color);
  box-sizing: border-box;
}
.modulo_pago .main_btn{
  margin-top: 10px;
  width: 100%;
  height: 35px;
  font-size: 15px;
}
/* --------aqui empieza el footer------------- */
.option{
  background-color: black;
  color: white;
  padding-left: 30px;
}
.option_contact a{
  color: green;
}
